<section class="nes-container">
    <section class="message-list">
        <section class="message -left">
            <img alt="toast" src="/assets/avatars/xqc.jpg">
            <div class="nes-balloon from-left">
                <p>Hello #6, it's #2 here.</p>
            </div>
        </section>
        <section class="message -right">
            <div class="nes-balloon from-right">
                <p>Hi X.</p>
            </div>
            <img alt="toast" src="/assets/avatars/ludwig.png">
        </section>
        <section class="message -left">
            <img alt="toast" src="/assets/avatars/xqc.jpg">
            <div class="nes-balloon from-left">
                <p>{{selectedQuestion}}</p>
            </div>
        </section>
        <section class="message -right">
            <div class="nes-balloon from-right">
                <p>Pick your answer</p>
                <div class="nes-container" id="question-container">
                  <button *ngFor="let option of selectedOptions" type="button" class="nes-btn is-primary" (click)="answerHandler(option.correct)">{{option.text}}</button>
                </div>
                            </div>
            <img alt="toast" src="/assets/avatars/ludwig.png">
        </section>
    </section>
</section>



