<p>welcome to the toast task</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KWtwIf-TSlo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<div class="nes-container">
    <button type="button" class="nes-btn is-primary" (click)="onIncorrect()">wrong answer</button>
    <button type="button" class="nes-btn is-primary" (click)="onIncorrect()">wrong answer</button>
    <button type="button" class="nes-btn is-primary" (click)="onCorrect()">right answer</button>
    <button type="button" class="nes-btn is-primary" (click)="onIncorrect()">wrong answer</button>
</div>