<section class="nes-container">
    <section class="message-list">
        <section class="message -left">
            <img alt="toast" src="/assets/avatars/geowizard.jpg">
            <div class="nes-balloon from-left">
                <p>Time for some NMPZ!</p>
            </div>
        </section>
        <section class="message -left">
            <img alt="toast" src="/assets/avatars/geowizard.jpg">
            <div class="nes-balloon from-left">
                
                <p>Time for some NMPZ!</p>
                <img [src]="location.imgUrl" />
            </div>
        </section>
    </section>
</section>

<div class="map-container nes-container">
    <div id="map"></div>
    <button [ngClass]="selectedLatLng ? 'is-success' : 'is-disabled'" type="button" class="nes-btn submit-button" (click)="onLocationSubmit()">Submit</button>
</div>