<p>welcome to the geowizard task</p>

<section class="nes-container">
    <section class="message-list">
        <section class="message -left">
            <img alt="toast" src="/assets/avatars/geowizard.jpg">
            <div class="nes-balloon from-left">
                <p>Time for some NMPZ! Pick the right spot to get my item.f dsaf dsfdsafsad fsda fdsaf sadf sadfsda fsadf sad fsdafda</p>
            </div>
        </section>
        <section class="message -right">
            <div class="nes-balloon from-right">
                <p>Hello Ludwig. You're looking kinda sus.</p>
            </div>
            <img alt="toast" src="/assets/avatars/geowizard.jpg">
        </section>
    </section>
</section>

<div class="map-container nes-container">
    <div id="map"></div>
    <button [ngClass]="selectedLatLng ? 'is-success' : 'is-disabled'" type="button" class="nes-btn submit-button" (click)="onLocationSubmit()">Submit</button>
</div>