.main {
    height: 100%;
    display: block;
    margin: auto;
    padding: 16px;
    width: 1024px;
    background: rgba(0, 0, 0, 0.25);
    position: relative;
}

app-inventory {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}