/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('/assets/bg/03-Late-Morning.png');
    background-repeat: no-repeat;
    background-size: cover;
}